
{erl_opts, [
            {parse_transform, lager_transform},
            {src_dirs, ["src"]},
            debug_info
            ]}.

{deps, [
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}

]}.

{relx, [{release, { shen, "1.0.0" },
    [
        lager,
        shen
    ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},
        {overlay_vars, "config/vars.config"},
        {overlay, [
            {mkdir, "etc"},
            {mkdir, "bin"},
            {mkdir, "log/sasl"}
            
        ]}

    ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_src, false},
                            {system_libs, false},
                            {include_erts, false}]}]
            }]
}.
